@import '../assets/variables.scss';
@import '../assets/mixins.scss';

header {
  position: fixed;
  @include fit-full-screen;
  height: $header-height;
  padding: 0 $padding-standard;
  border-bottom: #{$border-line};
  box-sizing: border-box;
  line-height: $header-height;

  @media #{$medium-screen-media} {
    position: relative;
  }

  & .logo {
    display: inline-block;
    height: $header-height - 20px;
    width: 60px;
    padding-right: $padding-small;
    border-radius: 3px;
    box-sizing: border-box;
    color: $black-color;
    text-align: right;
    line-height: 30px;
    vertical-align: middle;
    background-color: $orange-color;
    @include centered-icon;
  }

  & h1 {
    display: inline-block;
    margin: 0 0 0 $padding-small;
    color: $blue-color;
    vertical-align: middle;
  }
}

.content {
  position: fixed;
  @include fit-full-screen;
  height: calc(100% - #{$bar-height});
  padding: $header-height 0 0;
  box-sizing: border-box;
  @include centered-aligned-container;
  z-index: 1;

  @media #{$medium-screen-media} {
    position: relative;
    padding: 0 0 $bar-height;

    &:before {
      display: none;
    }
  }

  & .player-control, 
  & .tracks {
    @include centered-aligned-content;
    vertical-align: top;
  }

  & .player-control {
    width: 350px;
    text-align: center;

    @media #{$medium-screen-media} {
      width: 100%;
      margin-bottom: $bar-height;
    }
  } 

  & .tracks {
    height: 100%;
    width: calc(100% - 350px);
    text-align: left;

    @media #{$medium-screen-media} {
      position: relative;
      width: 100%;
      //height: calc(6 * #{$bar-height});
    }
  } 
}

.visualizer {
  position: fixed;
  bottom: $bar-height;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  //border-top: #{$border-line};
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bar-height;
  padding: 0 $padding-standard;
  box-sizing: border-box;
  border-top: #{$border-line};
  line-height: $bar-height;
  background-color: $black-color;
  z-index: 1;
  @include centered-icon;

  & i.material-icons {
    font-size: 1.2em;
  }

  & span {
    display: inline-block;
    padding-right: $padding-standard;

    & a {
      text-decoration: none;
      color: $blue-color;
    }
  }
}
/*   >
  <span><i class="material-icons">copyright</i> 2017 Chan Wan</span>
  <span>
    <i class="material-icons">mail_outline</i>
    <a href="mailto:tendoujir@gmail.com">tendoujir@gmail.com</a>
  </span>
</footer> */