<header>
  <div class="logo"><i class="material-icons">music_video</i></div>
  <h1>Simple Music Player</h1>
</header>

<main class="content">
  <div class="player-control">
    <app-player></app-player>
  </div>
  
  <div class="tracks">
    <app-song-list></app-song-list>
  </div>
</main>

<div class="visualizer">
  <app-visualiser></app-visualiser>
</div>

<footer>
  <span><i class="material-icons">copyright</i> 2017 Chan Wan</span>
  <span>
    <i class="material-icons">mail_outline</i>
    <a href="mailto:tendoujir@gmail.com">tendoujir@gmail.com</a>
  </span>
</footer>